apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: "fib-server"
        static_configs:
          - targets: ["fib-service.default.svc.cluster.local:80"]
            # zakładam, że fib-service wystawia /metrics apki